@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  position: relative;
  font-family: "Fuggles", cursive;
  background-color: #173640;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 15vh;
}
.logo__box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
}
@media (max-width: 768px) {
  .logo__box {
    font-size: 18px;
  }
}
.logo__box svg {
  fill: #06f591;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
}
nav {
  display: flex;
}
@media (max-width: 768px) {
  nav {
    display: none; /* Приховати навігацію на мобільних пристроях */
  }
}
nav a {
  display: flex;
  align-items: center;
  color: #d8d8d8;
  margin: 0 0.4em;
  height: 10vh;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
}
nav a:hover {
  color: #06f591;
}
.header__BTN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 10vh;
  --green: #1bfd9c;
  font-size: 37px;
  padding: 0;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  border: 3px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}
@media (max-width: 768px) {
  .header__BTN {
    font-size: 30px;
    width: 40vw;
    background-color: #173640;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
  }
}
.header__BTN:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}
.header__BTN:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.4) 40%,
    rgba(27, 253, 156, 0.4) 60%,
    transparent 100%
  );
}
.header__BTN:hover:before {
  transform: translateX(15em);
}
.header__BTN svg {
  fill: #06f591;
  width: 1em;
  margin-right: 0.3em;
}
/*  */
.nav__menu__btn {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 10vh;
  max-block-size: 100%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav__menu__btn {
    display: none;
  }
}
.nav__menu__btn svg {
  width: inherit;
  height: inherit;
  fill: #d8d8d8;
}
.nav__menu__btn svg:hover {
  fill: #06f591;
}
/* modal */
#modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 50px;
  z-index: 999;
  /* display: none; */
}
#modal a {
  transition: transform 0.5s ease;
  color: #173640;
}
#modal a:hover {
  color: #06f591;
}
.close__modal__btn {
  padding: 10px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.close__modal__btn:hover {
  transition: transform 0.1s ease;
  transform: rotate(90deg);
}
.close__modal__btn:hover .x__svg {
  fill: #06f591;
}
.x__svg {
  fill: #173640;
  width: 50px;
  height: 50px;
}
/* hero */
.hero {
  color: #d8d8d8;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh;
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
    height: auto;
    padding: 0 10% 10%;
  }
}
.hero h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 30px;
}
.hero__p1 {
  font-size: 3em;
  font-weight: bolder;
}
.hero__p2 {
  font-size: 2em;
  margin: 20px 0;
}
.hero span {
  color: #06f591;
}
.hero button {
  font-family: "Fuggles", cursive;

  color: #06f591;
  background-color: transparent;
  width: 70%;
  height: 100%;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border: 3px solid #06f591; /* Звичайна границя */
  box-shadow: inset 0 0 10px #06f591; /* Розмиття границі кнопки */
  transition: all 0.5s linear;
}
.hero button:hover {
  background-color: #06f591;
  color: #173640;
}
.arrow__svg {
  width: 30px;
  height: 30px;
  margin-right: 1em;
  fill: #06f591;
  transition: all 0.5s linear;
}
.hero button:hover .arrow__svg {
  fill: #173640;
}
.know__more {
  font-size: 20px;
  color: #d8d8d8;
  border-bottom: #d8d8d8;
}

.b_d_w {
  display: flex;
  align-items: center;
}
.arrow__svg {
  width: 30px;
  height: 30px;
  margin-right: 1em;
  fill: #06f591;
}
.know__more {
  font-size: 20px;
  color: #d8d8d8;
  border-bottom: #d8d8d8;
}
.b_d_w {
  display: flex;
  align-items: center;
}
/* images__box */

.images__box {
  width: 40vw;
  max-height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .images__box {
    width: 100%;
  }
}
.images__box::-webkit-scrollbar,
.images__box::-webkit-scrollbar-thumb,
.images__box::-webkit-scrollbar-track {
  display: none;
}

.images__box img {
  width: 10vw;
  height: 20vw;
  margin: 15px;
  border-radius: 30px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .images__box img {
    width: 22vw;
    height: 45vw;
  }
}
.images__box img:nth-child(3n-1) {
  transform: translateY(-30%);
}
.images__container {
  position: relative;
}
.overlay1 {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background-image: linear-gradient(#173640, transparent);
}
.overlay2 {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background-image: linear-gradient(transparent, #173640);
}
/*  */
.c_r {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .c_r {
    flex-direction: column;
  }
}
/*  */
.input__container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input__search {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #173640;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}
.input__search:hover {
  box-shadow: 1.5px 1.5px 3px #06f591, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #06f591, inset 0px -0px 0px #5f5e5e;
}
.input__search:focus,
.input__search:not(:invalid) {
  left: 0;
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input__search:focus + .icon,
.input__search:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.input__container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.input__container .icon svg {
  width: 100%;
  height: 100%;
  fill: #06f591;
}
/*  */
.found__photo__box {
  padding: 2.5vw;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Завжди по 3 зображення в ряду */
  gap: 2.5vw; /* Відступи між зображеннями */
}

.found__photo__box img {
  width: 30vw; /* Фіксована ширина 20% від ширини вікна */
  height: 30vw; /* Фіксована висота 20% від ширини вікна */
  object-fit: cover;
}
